:root {
  /* Primary Colors */
  --color-primary: #FF4500;
  --color-secondary: #D83700;

  /* Neutral Colors */
  --color-black: #000000;
  --color-white: #FFFFFF; 
  --color-light-gray: #F4F4F4; 
  --color-dark-gray: #A9A9A9;

  /* Hover Colors */
  --color-hover-primary: #D83700; 

  /* Border Colors */
  --color-border-gray: #E0E0E0;
  /* Additional Colors */
  --color-success: #4CAF50;
  --color-error: #FF4500;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-black);
}
