/* Color 1 */
:root {
  /* Primary Colors */
  --color-primary-dark: #070F2B;      /* Dark blue */
  --color-primary: #1B1A55;           /* Primary blue */
  --color-secondary: #535C91;         /* Secondary blue */
  --color-accent-light: #bcbbfc;      /* Light accent blue */

  /* Neutral Colors */
  --color-black: #111827;             /* True black for text and dark sections */
  --color-white: #F9FAFB;             /* Light gray for backgrounds, sections, or cards */
  --color-light-gray: #D1D5DB;        /* Lighter gray for borders, cards, or light background sections */
  --color-dark-gray: #374151;         /* Darker gray for secondary text and subtle details */

  /* Hover Colors */
  --color-hover-primary: #2C3E8C;     /* Hover color for primary blue */
  
  /* Border Colors */
  --color-border-gray: #6B7280;       /* Medium gray for borders and dividers */
  
  /* Additional Colors */
  --color-success: #10B981;           /* Bright green for success messages */
  --color-error: #EF4444;             /* Bright red for error messages */
  
  /* Accent Colors */
  --color-accent: #F59E0B;            /* Bright yellow for highlights and active items */
  --color-warning: #F97316;           /* Bright orange for warning alerts */
  --color-warning-dark: #C2410C;      /* Dark orange for warning alerts */

  /* Heading Colors */
  --color-heading-primary: #E5E7EB;   /* Light gray for primary headings */
  --color-heading-secondary: #9CA3AF; /* Medium gray for secondary headings */
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-main {
  flex: 1;
  padding-top: 60px; /* Adjust if you have a fixed navbar */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto; 
}